<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Item</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <div class="container">
        <div class="table-wrap">
            <form action="{% url 'create-order' %}" method="POST">
                {% csrf_token %}
                <table class="table table-responsive table-borderless">
                    <thead>
                        <th>&nbsp;</th>
                        <th>Product</th>
                        <th style="text-align: center">Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody>
                        <tr class="align-middle alert border-bottom">
                            <td>
                                <input type="checkbox" id="check" name="item" value="{{ item.id }}" onclick={handleCheckboxChange(this)} checked>
                            </td>
                            <td>
                                <p class="m-0 fw-bold">{{ item.name }}</p>
                            </td>
                            <td>
                                <div>
                                    <p class="m-0 text-muted">{{ item.description }}</p>
                                </div>
                            </td>
                            <td>
                                <div class="fw-600">${{ item.display_price }}</div>
                            </td>
                            <td>
                                <input class="input" name="quantity" id="qnt" min="1" value=1 type="number">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="submitButton">
                    <button type="submit" class="lgbtn green">Go to order</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    function handleCheckboxChange(checkbox) {
        checkbox.addEventListener('change', function(event) {
            var quantity = event.currentTarget.parentElement.parentElement.querySelector('.input');
            if (event.currentTarget.checked) {
                quantity.disabled = false;
                quantity.value = 1;
                quantity.min = 1;
            }
            else {
                quantity.disabled = true;
                quantity.value = 0;
                quantity.min = 0;
            }
        });
    }
</script>

</html>