<!DOCTYPE html>
<html>
    <head>
        <title>Items</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <section>
            <div class="items">
                <form action="{% url 'create-order' %}" method="POST">
                    {% csrf_token %}
                    <ul id='itemList'>  
                    {% for item in items %}
                    <input type="checkbox" name="item" value="{{ item.id }}">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p>${{ item.display_price }}</p>  
                    </input>
                    {% endfor %}
                    </ul>
                    <button type="submit">Go to order</button>
                </form>
            </div>
        </section>
