<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Order</title>
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div class="container">
        <div class="table-wrap">
            <table class="table table-responsive table-borderless">
                <thead>
                    <th>&nbsp;</th>
                    <th>Product</th>
                    <th style="text-align: center">Description</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                </thead>
                <tbody>
                    {% for order_item in order_items %}
                    <tr class="align-middle alert border-bottom">
                        <td></td>
                        <td>
                            <p class="m-0 fw-bold">{{ order_item.item.name }}</p>
                        </td>
                        <td>
                            <div>
                                <p class="m-0 text-muted">{{ order_item.item.description }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="fw-600">${{ order_item.display_cost }}</div>
                        </td>
                        <td>
                            <div class="input">{{ order_item.quantity }}</div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h4>Total cost: ${{ cost }}</h4>
            <div class="submitButton">
                <button type="button" id="checkout-button" class="lgbtn green">Buy</button>
            </div>
        </div>
    </div>
    {% csrf_token %}
</body>
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("{% url 'buy-items' order_id %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>

</html>